// main: ../style.sass

#line_chart
	position: relative

	// &:after
	// 	content: ""
	// 	position: absolute
	// 	left: 0
	// 	top: 0
	// 	width: 70px
	// 	height: 400px
	// 	background: #fff

	.legend
		position: absolute
		right: 50px
		margin-top: 22px
		div
			display: inline-block
			margin-left: 20px
			font-size: 15px
		i
			width: 12px
			height: 12px
			border-radius: 6px
			margin-right: 6px
			display: inline-block
			vertical-align: top
			margin-top: 6.5px
			&.expenses
				background: #7476b7
			&.income
				background: #86c37b

	.with_chart
		margin: -50px -70px 45px -70px
		padding: 50px 50px 70px 18px
		box-shadow: 0 0 40px rgba(0, 0, 0, 0.08)
		overflow-x: auto
		overflow-y: hidden
		> div
			height: 350px
			&.scrollable
				canvas
					padding-right: 50px

		&::-webkit-scrollbar
			width: 10px
		&::-webkit-scrollbar-thumb
			background: #ddd
			border-radius: 20px
			transition-duration: .3s
			&:hover
				background: #ccc
		&::-webkit-scrollbar-track
			background: #fff
			box-shadow: inset 0 5px 20px rgba(0,0,0,0.05)

	.yearStats
		margin-top: 50px
		li
			display: inline-block
			width: 33.33%
			b
				display: inline-block
				width: 70px
