// main: ../style.sass

#transactions
	&.show_only_income
		li.negative
			display: none
	&.disable_removing
		li span:nth-of-type(6)
			display: none!important

.transactions
	display: flex
	flex-direction: column

	.year
		margin-bottom: 3rem
		h2
			margin-bottom: 2rem
		.total
			position: absolute
			right: 70px
			margin-top: -65px
			padding: 0 10px
			background: $color-alt
			color: #fff
			font-weight: 600
			font-size: 14px
			border-radius: 26px

	li
		display: flex
		justify-content: space-between
		position: relative
		margin-right: -40px
		padding-right: 40px
		&.positive span:nth-of-type(5)
			color: $color-alt
		&.negative span:nth-of-type(5)
			color: lighten($color-text, 20%)
		&:hover
			span:nth-of-type(6)
				display: block

		span
			// date
			&:first-of-type
				width: 15%
				font-family: $font-mono
			// description
			&:nth-of-type(2)
				width: 40%
			// comment
			&:nth-of-type(3)
				width: 25%
				color: #c3c3c3
				font-style: italic
			// currency
			&:nth-of-type(4)
				width: 5%
			// amount
			&:nth-of-type(5)
				width: 15%
				text-align: right
			// delete
			&:nth-of-type(6)
				display: none
				padding: 0 5px
				position: absolute
				right: 0
				color: #cbcbcb
				cursor: pointer
				transition-duration: .3s
				&:hover
					color: #f26e6e
